:root {
  --color-element-background-light: #F5F5F5;
  --color-element-background-dark: #292f32;
  --color-charcoalGrey: #353535;
  --color-lightGrey: #E0E0E0;
  --color-teal: #3C6E71;
  --color-deepTeal: #284B63;
  --color-red: #FF3737;
}