#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
}

footer {
  border: 1px solid orange;
  padding: 5px;
  margin: 10px;
}

section {
  border: 1px solid goldenrod;
  padding: 10px;
  margin: 10px;
}

.article-card {
  border: 1px solid green;
  list-style: none;
  padding-left: 0;
  margin: 20px;
  padding: 20px;
}

.article-img {
  display: flex;
  margin: 10px auto 10px auto;
}

.article-info {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: -20px;
}

.Collapsible {
  border: 1px solid blue;
  margin: 20px;
  padding: 10px;
}

.comment-card {
  border: 1px dotted blue;
  list-style: none;
  padding-left: 0;
  margin: 20px;
  padding: 10px;
}

.err-msg {
  color: red;
}